body{
    margin: 0px;  
}
.menu{
        width: 100%;
        height:50px;
        background-color:aqua;
        font-size: 16px;
        margin: 0 auto;
        display: flex;
        color: white;
        align-items: center;
    }
    .menu a{
        padding: 0 20px;
        color: white;
        display: flex;
        list-style: none;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
    }
.menu a:hover{
    background-color:cornflowerblue;
}
.submenu{
    display: none;
    min-height: 100px;
    background-color:aqua;
    color: white;
    z-index: 1;
    position: absolute;
}
.parentmenu:hover .submenu{
    display: block;
}
.mid{
    width:100%;
    height:700px;
    background-color:blueviolet;
    display: flex;
}
.left{
    width:300px;
    height: 620px;
    background-color:crimson;
}
.left1{
    width: 1060px;
    height: 620px;
    background-color:pink;
    color:white;
}
.footer{
    width:100%;
    height:200px;
    background-color: black;
    color:white;
    display: flex;
}
.middle {
        width: 100%;
        height: 100px;
    }
.subFooter2 {
        margin-top:300px;
        margin-left:500px;
        height:100px;
        width:1200px;
        font-family:sans-serif;
        font-size: 14px;
        display: flex;
    }
 .col3 {
     height:10%;
     width: 50px;
    }
.row4 {
    float: left;
        width: 500px;
        height:100px;
        color:red;
        display: flex;
    }

.row5 {
        width: 400px;
        height:100px;
        color:red;
}
.products{
    border: 1px solid red;
    height: 100%;
    width: 500px;        
}
.products img{
            width: 100px;
            height: 100px;
            font-family:sans-serif;
            color:white;}
.products2{
border: 1px solid red;
width: 500px;
margin-top: 30px;
display: flex;
}
.products2 img{
  width: 300px;
  font-family:sans-serif;
  color:white;
  justify-content:left;
}
.right1{
    width:300px;
    height: 620px;
}
                        

                        
